{{ partial "header.html" . }}
<body>
  <div id="layout">
  {{ partial "sidebar.html" . }}

    <div class="content">
      <a name="top"></a>

      <div class="posts">
        <section  class="post">
          <header class="post-header">
            <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
          </header>
          <p class="post-meta"><em>
          {{ if not .Params.nodate }}<span class="post-date">{{ .Date.Format "02/01/2006"" }}</span> - {{ end }}
          {{ if not .Params.noauthor }}{{ if .Params.author }}By <a class="post-author" {{ if .Params.authorlink }}href="{{ .Params.authorlink }}"{{ end }}>{{ .Params.author }}</a>{{ end }}{{ end }}
          {{ if not .Params.noread }}<span class="post-reading-time">{{.ReadingTime}} minutes de plaisir</span>{{ end }}</em>
          {{ if .Params.categories }}<span class="post-categories">{{ $Site := .Site }}{{ range .Params.categories }}<a class="post-category post-category-{{ . | urlize }}" href="{{ $Site.BaseURL}}/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}</span>{{ end }}
         </p>
          <article>
            {{ .Content }}
          </article>


				<div class="post-meta">
					<p>
          {{ if .Params.tags }}
			      {{ $Site := .Site }}
					  Tags : 
					  {{ range .Params.tags }}
	             <a class="post-tag post-tag-{{ . | urlize }}" href="{{ $Site.BaseURL}}/tags/{{ . | urlize }}">{{ . }}</a>,
            {{ end }}
			    {{ end }}
			    </p>
			    {{ if not .Params.nopaging }}
				  <div class="paging">
						<p>Lire du
					  {{ if .Prev }}
					  	+ récent : <a class="paging-link" href="{{ .Prev.RelPermalink }}">{{ .Prev.Title }}</a> ou 
            {{ end }}
					  {{ if .Next }}
						  + ancien : <a class="paging-link" href="{{ .Next.RelPermalink }}">{{ .Next.Title  }}</a>
		        {{ end }}
						</p>
				  </div>
				  {{ end }}

        </section>
      </div>
    </div>
  </div>
</body>
</html>
