{{ partial "header.html" . }}
{{ `<!-- layouts/visionnages/single.html -->` | safeHTML}}
<body>
<a href="#content" title="{{ i18n "skip_content" }}" class="sr-only"></a>
{{ partialCached "sidebar.html" . }}

  <main id="content">
    <section  class="visionnages">
      <header class="post-header">
        <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <p class="post-meta"><em>
          {{ if not .Params.nodate }}<span class="post-date"><time datetime="{{ .Date.Format "2006-01-02"}}">{{ .Date.Format "02/01/2006" }}</time></span> - {{ end }}
          {{ if not .Params.noread }}<span class="post-reading-time">{{ i18n "readingTime" .ReadingTime}}</span>{{ end }}</em>
          {{ if .Params.categories }}<span class="post-categories">{{ $Site := .Site }}{{ range .Params.categories }}<a class="post-category post-category-{{ . | urlize }}" href="{{ $Site.BaseURL}}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}</span>{{ end }}
          {{ if .Params.lastEdit }}<span class="post-edit-date">Dernière mise à jour le : {{ dateFormat "02/01/2006" .Params.lastEdit }}</span>{{ end }}
        </p>
        {{- with .Params.Soustitre -}}<p class="sous-titre">{{ . }}</p>{{- end -}}
        {{- if .Params.Audio -}}<audio controls preload="metadata"><p>Enregistrement audio de l'article.</p><source src="{{ .Permalink }}{{.Params.Audio}}" type="audio/ogg; codecs=opus"></audio>{{- end -}}
      </header>
      <article>
        {{ .Content }}
      </article>
{{ if not .Params.nofooter}}      <footer class="post-meta">
<table>
	{{ if .Params.Avis }}{{ $Site := .Site }}<tr><td>Avis</td>{{range .Params.Avis}}<td><a href="{{$Site.BaseURL}}avis/{{. | urlize}}">{{ . }}</a></td>{{end}}</tr>{{end}}
	{{ if .Params.Directors }}{{ $Site := .Site }}<tr><td>Réal</td>{{range .Params.Directors}}<td><a href="{{$Site.BaseURL}}directors/{{. | urlize}}">{{ . }}</a></td>{{end}}</tr>{{end}}
	{{ if .Params.Actors }}{{$Site := .Site}}<tr><td>Acteur(s)</td>{{ range .Params.Actors }}<td><a href="{{$Site.BaseURL}}actors/{{ . |urlize }}">{{ . }}</a></td>{{end}}</tr>{{end}}
	{{ if .Params.TopWords }}{{$Site := .Site}}<tr><td>Tag(s)</td>{{ range .Params.TopWords }}<td>{{ . }}</td>{{end}}</tr>{{end}}
	{{ if .Params.Saga }}{{$Site := .Site}}<tr><td>Saga</td>{{ range .Params.Saga }}<td><a href="{{$Site.BaseURL}}saga/{{ . |urlize }}">{{ . }}</a></td>{{end}}</tr>{{end}}
	{{ if .Params.year }}{{$Site := .Site}}<tr><td>Année</td>{{ range .Params.year }}<td><a href="{{$Site.BaseURL}}year/{{ . |urlize }}">{{ . }}</a></td>{{end}}</tr>{{end}}
	<tr><td>liens</td><td><a href="{{ .Params.Wikipedia}}">Wikipedia</a> — <a href="{{ .Params.Imdb}}">Imdb</a></td></tr>
	{{ if .Params.VisionnageDate }}{{$Site := .Site}}<tr><td>Visionnage</td>{{ range .Params.VisionnageDate }}<td>{{ . }}</td>{{end}}</tr>{{end}}
</table>
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
Similaire : {{ range . }}<a href="{{.Permalink}}">{{.Title}}</a> — {{end}}
{{ end }}
        <div class="paging">
          <p>{{ i18n "paging-start" }}
          {{if .NextPage }}{{ i18n "paging-fresher" }}<a class="paging-link" rel="next" href="{{ .NextPage.RelPermalink }}">{{.NextPage.Title}}</a>{{ end }}
          {{if .PrevPage }}{{ i18n "paging-older" }}<a class="paging-link" rel="prev"  href="{{ .PrevPage.RelPermalink }}">{{.PrevPage.Title}}</a>{{ end }}
          </p>
        </div>
         <br>
         <br>

         <script data-isso="https://isso.lord.re/" src="https://isso.lord.re/js/embed.min.js" data-isso-css="false" data-isso-avatar-bg="#222" defer></script>
         <section id="isso-thread"></section>
        </div>
      </footer>{{end}}

    </section>
  </main>
</body>
</html>
