{{ partial "header.html" . }}
{{ `<!-- layouts/visionnages/list.html -->` | safeHTML}}
<body>
  <a href="#content" title="{{ i18n "skip_content" }}" class="sr-only"></a>
{{ partialCached "sidebar.html" . }}
  <main>
  <section class="shares" style="padding:1rem;">
  <h1>Mes visionnages</h1>
  <p>Une petite liste des films que j'ai vu avec une mini-critique sur mon ressenti.</p>
  <p>C'est également classé par <a href="{{.Site.BaseURL}}directors">réalisateurs</a> et <a href="{{.Site.BaseURL}}actors">acteurs</a>.</p>
  <p>C'est pas exhaustif du tout mais j'y travaille petit à petit.</p>
{{ range .Data.Pages }}
    <section  class="visionnages">
      <header class="post-header">
        <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
      </header>
{{ if .Truncated  }}            <article class="post-summary">{{ .Summary }}
      </article>
      <footer>
        <div class="read-more-link"><a href="{{ .RelPermalink }}">{{ i18n "more" }}</a></div>
{{ else }}{{ .Content }}
{{ end }}
      </footer>
    </section>
{{ end }}
  </main>
{{ partialCached "openring.html" . }}
</body>
</html>
