{{ $prev :=2100}}{{ partial "header.html" . }}
{{ `<!-- layouts/archives/list.html -->` | safeHTML}}
<body>
	<a href="#content" title="{{ i18n "skip_content"}}" class="sr-only"></a>
{{ partialCached "sidebar.html" . }}
    <main id="content">
      <div class="{{.Type}}" style="padding:1rem;"><h1><a>{{upper .Type}}</a></h1>
{{.Content}}
      </div>
{{ range .Pages }}
{{if .Date}} {{ if ne  $prev (.Date.Format "1") }} <br><h1>{{.Date.Format "01 / 2006" }}</h1><hr>{{end}} {{ $prev = .Date.Format "1" }}{{end}}
    <div><a href="{{.RelPermalink}}" style="color:var(--{{.Section}}-h1-a);">{{.Title}}</a>  
    <p class="post-meta"><span class="section-meta" style="color:var(--{{.Section}}-h1-a);">{{.Section}}</span><span title="{{.Summary}}">❖</span> <em>{{ if not .Params.nodate }}<span class="post-date">{{ .Date.Format "02/01/2006" }}</span> {{ end }}{{ if not .Params.noread }}<span class="post-reading-time">{{ i18n "readingTime" .ReadingTime }}</span>{{ end }}</em>{{ if .Params.categories }}<span class="post-categories">{{ $Site := .Site }}{{ range .Params.categories }}<a class="post-category post-category-{{ . | urlize }}" href="{{ $Site.BaseURL}}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}</span>{{ end }} {{with .Params.Avis}}{{.}}{{end}}</p></div>
{{ end }}
    </main>
  </div>
</body>
</html>
