  <aside>
    <div id="sidebar">
    <h1 class="brand-title"><a href="{{ .Site.BaseURL }}">/home/lord</a></h1>
    <p>{{ i18n "sidebar-description"}}</p>
    <br>
		<p class="icons"><a href="mailto:lord-blog@lord.re" title="En gros c'est lord@lesitequevousvisitez"><img src="{{ .Site.BaseURL }}/svg/mail.svg" width="35em" alt="Mail"></a>
		<a href="ircs://irc.geeknode.org" title="Je suis présent sur Geeknode, Freenode, Evolunet, EFnet, OFTC"><img src="{{.Site.BaseURL}}/svg/chat.svg" width="35rem" alt="IRC"></a>
		<a href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="Les RSS c'est le bien ! Par contre pas la peine d'updater plus de deux fois par jours ;-)"><img src="{{ .Site.BaseURL }}/svg/rss.svg" width="30rem" alt="RSS"></a>
		<a href="https://octodon.social/@lord" title="Mon ptit compte Mastodon"><img src="{{ .Site.BaseURL }}/svg/mastodon.svg" width="30rem" alt="Mastodon"></a>
		<a href="{{ .Site.BaseURL}}mono/" title="Le site en version monopage"><img src="{{ .Site.BaseURL }}/svg/mono.svg" width="30rem" alt="Monopage"></a>
		</p>
    <br>
    <p>{{ i18n "licence" }}</p>
    <br>
  {{ range .Translations }}  <p><a href="{{ .Permalink }}">{{i18n "dispo"}} : {{ .Title }}{{ if .IsPage }} {{ end }}</a></p>{{ end}}
    <p><a id="drafturl" href="{{ .Site.BaseURL }}drafts">.</a></p>
    </div>
  </aside>
