  <nav>
    <div id="sidebar">
    <h1 class="brand-title"><a href="{{ .Site.BaseURL }}">/home/lord</a></h1>
		<!--<p>{{ i18n "sidebar-description"}}</p>-->
    <br>
    <p class="icons"><a href="mailto:lord-blog@lord.re" title="Contact par mail"><img src="{{ .Site.BaseURL }}svg/mail.svg" class="svg2"></a>
    <a href="ircs://irc.geeknode.org" title="Contact via IRC possible sur Geeknode, Freenode, Evolunet, EFnet, OFTC"><img src="{{.Site.BaseURL}}svg/chat.svg" class="svg2"></a>
    <a href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="Les RSS c'est le bien ! Par contre pas la peine d'updater plus de deux fois par jours ;-)"><img src="{{ .Site.BaseURL }}svg/rss.svg" class="svg2"></a>
    <a href="https://pleroma.lord.re/users/1" rel="me" title="Mon ptit compte sur le Fediverse"><img src="{{ .Site.BaseURL }}svg/fediverse.svg" class="spin svg2"></a>
    <br>
    <a href="{{ .Site.BaseURL}}mono/" title="Le site en version monopage"><img src="{{ .Site.BaseURL }}svg/mono.svg" class="svg2" ></a>
    <a href="{{ .Site.BaseURL}}visionnages/" title="Les films que j'ai mattés"><img src="{{ .Site.BaseURL }}svg/cinema.svg" class="svg2" ></a>
    <a href="{{ .Site.BaseURL}}bestof/" title="Le Best-Of" style="line-height:2.3rem;font-size:2.3em;color:yellow;border-bottom:1px dotted #ea872d;">★</a>
    <a href="{{ .Site.BaseURL}}apropos/" title="À propos" style="line-height:2.3rem;font-size:2.3rem;color:orangered;border-bottom:1px dotted #ea872d;">?</a>
    </p>
    <br>
{{ range .Translations }}    <p lang="{{ .Language }}"><a href="{{ .Permalink }}">{{i18n "dispo"}} : {{ .Title }}{{ if .IsPage }} {{ end }}</a></p>{{ end}}
    <p><a id="drafturl" href="{{ .Site.BaseURL }}drafts">.</a></p>
    </div>
  </nav>
