{{ partial "header.html" . }}
<body>
  <a href="#content" title="skip to content" aria-label="skip to content"></a>
{{ partial "sidebar.html" . }}
  <main>
{{ $paginator := .Paginate (where .Data.Pages "Type" "in" .Site.Params.sectionsInHomepage ) }}
{{ range $paginator.Pages }}
  <section class="{{.Type}}">
    <header class="post-header">
      <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    </header>
    <p class="post-meta"><em>{{ if not .Params.nodate }}<span class="post-date">{{ .Date.Format "02/01/2006" }}</span> - {{ end }}{{ if not .Params.noread }}<span class="post-reading-time">{{ i18n "readingTime" .ReadingTime }}</span>{{ end }}</em>{{ if .Params.categories }}<span class="post-categories">{{ $Site := .Site }}{{ range .Params.categories }}<a class="post-category post-category-{{ . | urlize }}" href="{{ $Site.BaseURL}}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}</span>{{ end }}</p>
{{ if .Truncated  }}    <article class="post-summary">{{ .Summary }}
    </article>
    <footer>
			<div class="read-more-link"><a href="{{ .RelPermalink }}">{{ i18n "more" }}</a>{{ range .Translations }} − <a href="{{ .Permalink}}" aria-label="{{i18n "aria_lire"}}" lang="{{.Language}}">{{i18n "lire"}}</a>{{end}}</div>
    </footer>
{{ else }}    <article class="post-summary">{{ .Content }}</article>
{{ end }}</section>
{{ end }}
{{ template "partials/pagination.html" . }}
  </main>
{{ partial "openring.html" . }}
</body>
</html>
