{{ partial "header.html" . }}
<body>
	<a href="#content" title="{{ i18n "skip_content"}}" class="sr-only"></a>
{{ partial "sidebar.html" . }}
  <main>
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.sectionsInHomepage ) }}
{{ range $paginator.Pages }}
  <section class="{{.Type}}">
    <header class="post-header">
      <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    </header>
{{ if .Truncated  }}    {{ if ne .Type "visionnages" }}<article class="post-summary">{{ .Summary }}
    </article>{{ end }}
    <footer>
    <div class="post-meta-list"><em>{{ if not .Params.nodate }}<span>{{ .Date.Format "02/01/2006" }}</span> {{ end }}{{ if not .Params.noread }}<span>{{ i18n "readingTime" .ReadingTime }}</span>{{ end }}</em>{{ if .Params.categories }}<span>{{ $Site := .Site }}{{ range .Params.categories }}<a class="post-category post-category-{{ . | urlize }}" href="{{ $Site.BaseURL}}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}</span>{{ end }}
			<span class="read-more-link"><a href="{{ .RelPermalink }}">{{ i18n "more" }}</a>{{ range .Translations }} − <a href="{{ .Permalink}}" aria-label="{{i18n "aria_lire"}}" lang="{{.Language}}">{{i18n "lire"}}</a>{{end}}</span></div>
    </footer>
{{ else }}    <article class="post-summary">{{ .Content }}</article>
{{ end }}</section>
{{ end }}
{{ template "partials/pagination.html" . }}
  </main>
{{ partial "openring.html" . }}
</body>
</html>
