<aside class="webring">
	<h1>Blogroll</h1>
	<p><abbr title="Ceci est du contenu externe que je ne maîtrise pas à 100%, n'hésitez pas à me contacter à ce propos.">Petite sélection d'articles de blog francophones :</abbr></p>
  <section class="articles">
    
    <div class="article">
      <h2 class="title"><a href="https://www.dadall.info/article748/si-on-regardait-les-bots-des-moteurs-de-recherche" target="_blank" rel="noopener">Si on regardait les bots des moteurs de recherche</a></h2>
      <p class="summary">Il y a un peu plus d&#39;un an, je me suis amusé à comparer les moteurs de recherche en analysant leur capacité d&#39;indexation sur mon blog. À l&#39;époque, l&#39;affaire de l&#39;index de Qwant battait son plein : on se demandait qui étaient ces moteur…</p>
      <small class="source">via <a href="https://www.dadall.info/">Blog de dada</a></small> <small class="date">February 8, 2021</small>
    </div>
    
    <div class="article">
      <h2 class="title"><a href="https://www.swordarmor.fr/installer-son-instance-mastodon-sous-gentoo.html" target="_blank" rel="noopener">Installer son instance mastodon sous Gentoo</a></h2>
      <p class="summary">
  
   
    
     Suite à l’annonce de Valère d’arrêter les services hostux, et donc
     l’instance mastodon, j’ai décidé de monter la mienne. La principale raison
     est que je n’ai pas trouvé d’autre instance en Europe avec un TLSA. Je ne
     vais pas ici …</p>
      <small class="source">via <a href="https://www.swordarmor.fr/">SwordArMor : des trucs à propos du hacking et du DIY</a></small> <small class="date">January 31, 2021</small>
    </div>
    
    <div class="article">
      <h2 class="title"><a href="https://hyakosm.net/articles/2021/01/11/carte-acquisition-vhs.html" target="_blank" rel="noopener">Numériser des VHS avec du vieux matériel et du logiciel libre</a></h2>
      <p class="summary">Les anglais ont l’expression rabbit hole pour parler d’un trou de lapin dans lequel on s’engouffre lorsqu’on veut résoudre un problème précis et qu’on se retrouve à devoir rechercher beaucoup de choses et faire face à des problématiques subséquentes.

Sauve…</p>
      <small class="source">via <a href="https://hyakosm.net/">hyakosm.net</a></small> <small class="date">January 11, 2021</small>
    </div>
    
    <div class="article">
      <h2 class="title"><a href="https://geekfault.org/2016/05/11/umatrix-le-firewall-pour-navigateur/" target="_blank" rel="noopener">uMatrix le firewall pour navigateur</a></h2>
      <p class="summary">C’est la mode en ce moment de parler de bloqueur de pub et de bloqueur de bloqueur de pub. Tout le monde a sa collection d’extensions pour protéger sa vie privée : privacy badger, disconnect, ghostery, adblock, adblock plus, ublock, noscript, cookie monst…</p>
      <small class="source">via <a href="https://geekfault.org">Geekfault</a></small> <small class="date">May 11, 2016</small>
    </div>
    
    <div class="article">
      <h2 class="title"><a href="https://etienne.depar.is/a-ecrit/decouverte-de-gemini.html" target="_blank" rel="noopener">Decouverte de Gemini</a></h2>
      <p class="summary"></p>
      <small class="source">via <a href="https://etienne.depar.is">Étienne Deparis</a></small> <small class="date">January 1, 0001</small>
    </div>
    
  </section>
  <p class="attribution">Generated by <a href="https://git.sr.ht/~sircmpwn/openring">openring</a></p>
</aside>
