<aside class="webring">
	<h1>Blogroll</h1>
	<p><abbr title="Ceci est du contenu externe que je ne maîtrise pas à 100%, n'hésitez pas à me contacter à ce propos.">Petite sélection d'articles de blog francophones :</abbr></p>
  <section class="articles">
    
    <div class="article">
      <h2 class="title"><a href="https://couleur-science.eu/?d=855439--la-tomate-est-elle-un-fruit-ou-un-legume" target="_blank" rel="noopener">La tomate est-elle un fruit ou un légume ?</a></h2>
      <p class="summary">

Une question courante, quand on est enfant ou même adulte, et qui fait parfois débat, est de savoir si la tomate est un fruit ou un légume.

La réponse n’est en soi pas compliquée, mais il faut bien savoir ce quoi on parle.

Fruit ou légume ?

Le terme de « fru…</p>
      <small class="source">via <a href="https://couleur-science.eu/">Couleur Science</a></small> <small class="date">September 3, 2020</small>
    </div>
    
    <div class="article">
      <h2 class="title"><a href="https://totaltotaltotal.wordpress.com/2020/08/11/les-libertaires-dinternet-sont-les-idiots-utiles-du-totalitarisme/" target="_blank" rel="noopener">Les libertaires d’Internet sont les idiots utiles du totalitarisme.</a></h2>
      <p class="summary">Oui. Connaissez vous Bryan Lunduke ? Bryan Lunduke est un Linuxien. Alors, je sais, ça ne donne pas envie comme amorce de billet. Ne partez pas les filles. Bryan Lunduke croit au logiciel libre et est l’une des voix qui le porte sur son blog, dans des con…</p>
      <small class="source">via <a href="https://totaltotaltotal.wordpress.com">Journalisme Total</a></small> <small class="date">August 11, 2020</small>
    </div>
    
    <div class="article">
      <h2 class="title"><a href="https://www.swordarmor.fr/desactivation-de-la-souris-pour-urxvt-et-terminator-et-autres-terminaux-bases-sur-vte.html" target="_blank" rel="noopener">Désactivation de la souris pour urxvt et terminator (et autres terminaux basés sur VTE)</a></h2>
      <p class="summary">
  
   
    
     Depuis quelques temps, le support de la souris est activé par défaut sur
     certaines applications CLI, notamment vim. Ceci empêche d’utiliser le
     presse-papier « clic milieu » et ne sert en outre à rien, c’est donc fort
     ennuyeux.
   …</p>
      <small class="source">via <a href="https://www.swordarmor.fr/">SwordArMor : des trucs à propos du hacking et du DIY</a></small> <small class="date">February 9, 2020</small>
    </div>
    
    <div class="article">
      <h2 class="title"><a href="https://www.unixmail.fr/communaute/" target="_blank" rel="noopener">Communauté</a></h2>
      <p class="summary">EDIT 2019 : Les mailing-list sont supprimées. Tout ce qui suit n’a plus lieu d’être.
Unixmail a toujours été ouvert, aussi bien dans les technologies employées pour faire le site que dans son contenu et notamment a licence appliquée. Ici, on part du princi…</p>
      <small class="source">via <a href="https://www.unixmail.fr/">↑ on Unixmail</a></small> <small class="date">February 8, 2012</small>
    </div>
    
  </section>
  <p class="attribution">Generated by <a href="https://git.sr.ht/~sircmpwn/openring">openring</a></p>
</aside>
