{{ partial "header.html" . }}
<body>
  <div id="layout">
{{ partial "sidebar.html" . }}
    <div class="content">
      <div class="posts">
{{ range .Data.Pages }}
        <section  class="post">
          <header class="post-header">
            <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
          </header>
          <p class="post-meta"><em>{{ if not .Params.nodate }}<span class="post-date">{{ .Date.Format "02/01/2006" }}</span> - {{ end }}</em>{{ if .Params.categories }}<span class="post-categories">{{ $Site := .Site }}{{ range .Params.categories }}<a class="post-category post-category-{{ . | urlize }}" href="{{ $Site.BaseURL}}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}</span>{{ end }}</p>
          </article>
{{ .Content }}
        </section>
{{ end }}
      </div>
    </div>
  </div>
</body>
</html>
