/*
Creative Commons 4.0 BY-SA
You can reuse it, and if you do i'll gladly take a look at your website, don't hesitate to ping me ! :-)
*/

*{
 box-sizing:border-box;
 transition: box-shadow 0.2s ease, outline-offset 0.2s ease, transform 0.2s ease, background 0.4s ease;
 margin:0;
}
html{
 line-height:1.35em;
 background:#272b30;
 color:#bbb;
}
body{
 display:grid;
 grid-template-areas: "a a a"
 "b b b"
 "c c c";
 grid-template-columns: 1fr 4fr 1fr;
}
nav{
 grid-area:a;
 padding:1rem;
 text-align:center;
 box-shadow:0 0 2em rgba(0,0,0,0.4);
 background: #222;
 border-bottom:2px solid #414;
}
main{
 grid-area:b;
 margin:0.5rem;
 max-width:80ch;
}
aside{
 grid-area:c;
 display:none;
}

@media (min-width:120ch){
 body{
  grid-template-areas:  "a b c"
 "a b c"
 "a b c";
 }
 nav {
  border-bottom:none;
 }
 aside{
  display:block;
  background: #222;
  box-shadow:0 0 2em rgba(0,0,0,0.4);
 }
}

@media (min-width: 160ch){
 html{
  font-size:18pt;
 }
}
@media (min-width: 220ch){
 html{
  font-size:20pt;
 }
}
#drafturl{
 color:#272b30;
}
a{
 text-decoration:none;
 border-bottom:1px dotted;
 color:#ea872d;
}
a:hover, a:focus{
 outline:1px solid;
 outline-offset:.3em;
 border-bottom:1px dashed orangered;
}
.icons a{
 display:inline-block;
 margin:0.5rem;
}
.icons a:hover, .icons a:focus{
 transform:scale(1.2);
}
article{
 margin-top:2rem;
 margin-bottom:2rem;
}
h1 a{
 font-size:1.7rem;
 line-height:2.2rem;
}
h2{
 font-size:1.5rem;
 color:#8aa;
 padding-top:1.2rem;
}
h3{
 font-size:1.3rem;
 padding-top:1.1rem;
}
.posts, .fast-posts, .shares, .ideas, .recap, .visionnages, .docs{
 border-radius:0.6rem 0.6rem 1rem 1rem;
 overflow:hidden;
 text-align:justify;
 margin-top:1rem;
}
.posts{
 border:2px solid hsl(258,33%,30%);
 border-top:4px solid hsl(258,58%,58%);
 box-shadow:0 0 5rem 0.5rem hsl(258,58%,58%,0.3);
}
.fast-posts{
 border:2px solid hsl(210,33%,30%);
 border-top:4px solid hsl(210,58%,58%);
 box-shadow:0 0 5rem 0.5rem rgb(86,148,210,0.3);
}
.shares{
 border:2px solid hsl(54,33%,30%);
 border-top:4px solid hsl(54,58%,58%);
 box-shadow:0 0 5rem 0.5rem rgb(210,197,85,0.3);
}
.ideas,.docs{
 border:2px solid hsl(186,33%,30%);
 border-top:4px solid hsl(186,58%,58%);
 box-shadow:0 0 5rem 0.5rem rgb(85,197,210,0.3);
}
.recap{
 border:2px solid hsl(86,33%,30%);
 border-top:4px solid hsl(86,58%,58%);
 box-shadow:0 0 5rem 0.5rem hsla(86,33%,30%,0.3);
}
.visionnages{
 border:2px solid hsl(0,33%,30%);
 border-top:4px solid hsl(0,58%,58%);
 box-shadow:0 0 5rem 0.5rem hsla(0,33%,30%,0.3);
}
.posts h1 a{
 color:#cac;
}
.fast-posts h1 a{
 color:#99C3D1;
}
.shares h1 a{
 color:#ffa;
}
.ideas h1 a{
 color:#aff;
}
.recap h1 a{
 color:hsl(86,58%,58%);
}
.visionnages h1 a{
 color:hsl(0,58%,58%);
}
.post-category{
 color:#aeb8f9;
 margin-left:.6rem;
}
.post-edit-date{
 color:#888;
}
ul{
 padding:1rem;
}
.posts ul li{
 margin-left:1rem;
 list-style-position:outside;
 list-style-type:disc;
}
ol li,ul li{
 padding-top:0.4rem;
 margin-left:2rem;
}
section p{
 padding-top:1rem;
}
em{
 color:#8a8;
}
strong{
 color:#a8a;
}
pre, :not(pre) > code{
 border:1px dashed black;
 box-shadow:0 0 0.5em rgba(0,0,0,0.4) inset;
 background:#1d2024;
 background: repeating-linear-gradient(-30deg, #1d2024, #1d2024 20px, #202529 20px, #252529 40px);
 margin-top:0.5rem;
 font-size:0.8rem;
 color:#bbb;
 padding: 0.5rem;
 line-height:0.9rem;
 overflow:auto;
 white-space:pre-wrap;
}
figure h4{
 font-size:0.7rem;
 text-align:center;
 background:#67a4a8;
 font-weight:100;
 color:black;
}
figure{
 margin-top:0.5rem;
 box-shadow:0 0 1em rgba(0,0,0,0.4);
 outline: 3px solid black;
 text-align:center;
}
figure a img{
 max-width:100%;
}
.post-meta {
 font-size:.8rem;
 padding:0 2rem 0 2rem;
}
.post-meta-list{
 font-size:.8rem;
 padding:0 1rem 0 1rem;
 display:flex;
 flex-direction:row;
 justify-content:space-between;
}
.read-more-link , .read-more-link a{
 color:#3bb2a9;
}
hr{
 margin-top: 1rem;
 border: 1px dashed #555;
}
table{
 margin:1rem;
 color:#aaa;
 text-align:left;
}
thead{
 background-color:#333;
}
tr:nth-child(even){
 background:#222;
}
tr:hover{
 background:#333;
}
td{
 padding:0.3rem;
}
header{
 margin:2rem;
}
article {
 padding:0 0.8rem 0 0.8rem;
}
footer{
 color:#ccc;
 margin-top:1rem;
 padding:1rem;
 background-color:#222;
 /*petit hack pour que le fond du footer s'applique jusqu'au bout. Me demandez pas, ça marche. */
 border-bottom:1px dotted rgba(0,0,0,0);
}
kbd::selection{
 background-color:orangered;
 color:#fff;
}
kbd::before,samp::before{
 content:"⬋";
 color:yellow;
 background-color:black;
 display:inline-block;
 margin-right:0.8rem;
}
kbd::before{
 content:"➚";
}
kbd,samp{
 color:#fca;
 font-size:1.1rem;
 background:rgba(0,0,0,0.3);
 padding-right:0.5rem;
 white-space:pre-line;
}
samp{
 color:#cfa;
}
blockquote{
 color:#aaa;
 border:0.1rem solid #444;
 border-left:1rem solid #444;
 background-color:#333;
 box-shadow:0 0.3rem 1rem rgba(0,0,0,0.4);
 margin-top:1rem;
 margin-left:1rem;
 padding-left:1rem;
 padding-bottom:1rem;
 padding-right:1rem;
}
details{
 max-width:100%;
 margin-top:0.5rem;
 margin-bottom:0.5rem;
 border: 1px solid black;
 box-shadow:0 0.2rem 1rem rgba(0,0,0,0.3);
}
details[open]{
 max-width:100%;
 border:1px solid #ea872d;
 padding:1px;
}
summary{
 cursor:pointer;
 background:#333;
 background: repeating-linear-gradient(-45deg, #333,#333 10px,#353535 10px, #353535 20px);
 color:#aaa;
 padding:0.3rem;
 border:0.1rem solid #444;
 box-shadow: 0 0.3rem 1rem #222;
}
summary:hover, summary:focus{
 border:0.1rem solid #665;
 box-shadow:0 0.5rem 1rem #111;
}
.rainbowverse{
 background-image: repeating-linear-gradient(to left, #64ff00, #00a3ff, #9500ff, red, #ffca00, #64ff00);
 background-size: 200% ;
 background-clip: text;
 -webkit-background-clip: text;
 color:transparent;
/* animation:rainbow 80s infinite linear;*/
}
@keyframes rainbow{
 0%{   background-position:0% 50%;}
 100%{ background-position:200% 50%;}
}
.spin{
/* animation:spin 80s infinite linear;*/
}
@keyframes spin{
 0%{   transform:rotate(0 turn);}
 100%{ transform:rotate(1turn);}
}
.webring{
 font-size:0.8em;
 color:#bbb;
 padding:1ch;
}
.webring h1{
 text-align:center;
}
.webring .articles{
 display: flex;
 flex-direction:column;
}
.webring .title{
 padding:0;
 font-size:1.2em;
}
.webring .article:nth-child(1) a{
 color:hsl(0,58%,58%);
}
.webring .article:nth-child(2) a{
 color:hsl(60,58%,58%);
}
.webring .article:nth-child(3) a{
 color:hsl(120,58%,58%);
}
.webring .article:nth-child(4) a{
 color:hsl(180,58%,58%);
}
.webring .article:nth-child(5) a{
 color:hsl(240,58%,58%);
}
.webring .article:nth-child(6) a{
 color:hsl(300,58%,58%);
}
.webring .article{
 padding: 0.5rem;
 border-bottom:1px solid #555;
}
.webring .summary{
 font-size:0.7rem;
 line-height:1.1rem;
}
.webring .attribution{
 text-align:right;
 font-size: 0.6rem;
}
.svg2{
 width:2em;
}
