/*
Creative Commons 4.0 BY-SA
You can reuse it, and if you reuse it i'll be glad looking at your website :-)
*/

*{
  box-sizing:border-box;
  transition:all 0.1s ease;
  margin:0;
  padding:0;
}
html{
  line-height:1.35em;
  font-family:'Droid Sans';
  background:#272b30;
}
a{
  text-decoration:none;
  border-bottom:1px dotted;
}
article a{
  text-decoration:none;
  border-bottom:1px dashed;
  outline:1px dotted rgba(255,255,255,0.3);
  outline-offset:.2em;
}
a:hover{
  outline:1px solid;
  outline-offset:.3em;
  border-bottom:1px dashed orangered;
}
aside{
  padding:1rem;
  color:#757c82;
  text-align:center;
  box-shadow:0 0 1em rgba(0,0,0,0.4);
  border-bottom:2px solid #414;
}
aside h1{
	color:#aa8;
  padding-bottom:1.5rem;
  text-align:center;
}
aside p{
  font-size:.9rem;
}
@media (min-width:58em){
  aside {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:18rem;
    text-align:left;
    border-right:2px solid #414;
    border-bottom:none;
  }
  .content{
    margin-left:20rem;
  }
  #sidebar{
    position:absolute;
    right:1rem;
    bottom:1rem;
    left:1rem;
  }
}
@media (min-width: 80em){
  aside{
    border-right:4px solid #414;
  }
  html{
    font-size:18pt;
  }
}
@media (min-width: 100em){
  html{
    font-size:20pt;
  }
}
#drafturl{
  color:#272b30;
  font-size:0.5rem;
}
.post-header,article{
  margin:2rem;
}
.content{
  color:#757c82;
  color:#8a9199;
}
main {
  margin:2rem;
}
a{
  color:#aa7c82;
}
h1 a{
  font-size:1.7rem;
}
h2{
  font-size:1.5rem;
  color:#8aa;
  padding-top:1.2rem;
}
h3{
  font-size:1.3rem;
  padding-top:1.1rem;
}
.post, .fast-post, .share{
  margin:1rem;
  box-shadow:0 0 1em rgba(0,0,0,0.4);
  text-align:justify;
  max-width:50em;
}
.post{
  border-top:3px solid #547;
  border-bottom:1px solid #436;
  border-left:2px solid #444;
  background:#2d2f34;
}
.fast-post{
  border-top:3px solid #457;
  border-bottom:1px solid #346;
  border-left:2px solid #447;
  color:#999;
  background:#292f34;
}
.share{
  border-top:3px solid #d2c555;
	border-bottom:1px solid #443;
	border-left:2px solid #752;
  background:#292e30;
}
.post h1 a {
  color:#cac;
}
.fast-post h1 a {
  color:#99C3D1;
}
.share h1 a {
  color:#ffa;
}
.post-category{
  color:#757cab;
  margin-left:.6rem;
}
.post-date{
  margin-left:2rem;
}
.post-edit-date{
  color:#777;
}
.post li{
  margin-left:1rem;
  list-style-position:outside;
  list-style-type:disc;
}
ol li,ul li{
  padding-top:0.4rem;
  margin-left:2rem;
}
section p{
  padding-top:1rem;
}
em{
  color:#8a8;
}
strong{
  color:#a8a;
}
pre, :not(pre) > code{
  border:1px dashed black;
  box-shadow:0 0 0.5em rgba(0,0,0,0.4) inset;
  background:#1d2024;
  margin-top:0.5rem;
  font-size:0.7rem;
  padding: 0.5rem;
  line-height:0.9rem;
}
figure h4{
  font-size:0.7rem;
  text-align:center;
  background:#67a4a8;
  font-weight:100;
  color:black;
}
figure{
  margin-top:0.5rem;
  box-shadow:0 0 1em rgba(0,0,0,0.4);
  outline: 3px solid black;
  text-align:center;
}
figure a img{
  max-width:100%;
}
.post-meta{
  margin-top:1rem;
  font-size:.8rem;
}
.read-more-link , .read-more-link a{
  text-align:right;
  color:#2aa198;
  margin-right:1rem;
  margin-bottom:1.3rem;
}
.read-more-link a:hover{
  color:#4ab1a8;
}
hr{
  margin-top: 1rem;
  border: 1px dashed #555;
}
table{
  margin:1rem;
}
thead{
  background-color:#333;
}
tr:nth-child(even){
  background:#222;
}
tr:hover{
  background:#333;
}
td{
  padding:0.3rem;
}
footer{
  background-color:#222;
  padding:0 2rem 1rem 2rem;
  color:#ccc;
}

@font-face{
  src:local('Droid Sans'),local('DroidSans'),url(static/css/droidsans.woff) format('woff');
  src:local('Droid Serif'),local('DroidSerif'),url(static/css/droidserif.woff) format('woff');
}
