{{ partial "header.html" . }}
<body>
  <div id="layout">
{{ partial "sidebar.html" . }}
    <div class="content">
			<h1>Brouillons</h1>
			<p>Ce qui suit sera peut-être publié, ou bien oublié.</p>
{{ range .Data.Pages }}
        <section  class="posts">
          <header class="post-header">
            <h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
          </header>
          <p class="post-meta"><em>{{ if not .Params.nodate }}<span class="post-date">{{ .Date.Format "02/01/2006" }}</span> - {{ end }}{{ if not .Params.noread }}<span class="post-reading-time">{{ i18n "readingTime" .ReadingTime }}</span>{{ end }}</em>{{ if .Params.categories }}<span class="post-categories">{{ $Site := .Site }}{{ range .Params.categories }}<a class="post-category post-category-{{ . | urlize }}" href="{{ $Site.BaseURL}}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}</span>{{ end }}</p>
{{ if .Truncated  }}            <article class="post-summary">{{ .Summary }}
          </article>
          <div class="read-more-link"><a href="{{ .RelPermalink }}">{{ i18n "more" }}</a></div>
{{ else }}{{ .Content }}
{{ end }}
        </section>
{{ end }}
    </div>
  </div>
</body>
</html>
